:root{
    --color-white: #fff;
    --color-red: #ff0000;
    --color-red2: rgb(240, 57, 57);
    --color-dark1: #222;
    --color-dark2: #333;
    --color-blue: #5865f2;
    --color-blue2: #2f3fec;
    --color-gray: #6e6e6e;
    --color-gray2: #505050;
    --color-green: #008000;
    --color-green2: #148814;
}
