body{
    background-color: var(--color-dark1);
}

article{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content{
    margin-top: 2%;
    background-color: var(--color-dark2);
    padding: 1.5rem;
    padding-top: 0;
    width: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}


table{
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    margin-top: 2%;
}

th:nth-child(1){
    width: 14%;
}

th:nth-child(2){
    width: 10%;
}

th:nth-child(3){
    width: 15%;
}

th:nth-child(11){
    width: 15%;
}

th:nth-child(12){
    width: 10%;
}

th:nth-child(13){
    width: 8%;
}

.table{
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}

th{
    background-color: var(--color-blue2);
}

th:nth-child(1){
    border-top-left-radius: 6px;
}

th:nth-last-child(1){
    border-top-right-radius: 6px;
}

tr:nth-of-type(odd) {
    background-color: var(--color-gray2);
}

.acao{
    margin-top: 8px;
    margin-bottom: 8px;
}

.acao-del{
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.acao a{
    cursor: pointer;
    transition: .3s;
    padding: 8px;
    margin: 5px;
    background-color: var(--color-green);
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 12px;   
}

.acao a:hover{
    background-color: var(--color-green2);
    border-radius: 17px; 
}

.button-delete a{
    cursor: pointer;
    transition: .3s;
    padding: 5px;
    margin: 5px;
    background-color: none;
    text-decoration: none;
}

.button-delete a:hover{
    background-color: transparent;
}

.button-delete img{
    transform: translateY(4px);
}

.button-detalhes a{
    cursor: pointer;
    transition: .3s;
    padding: 5px;
    margin: 5px;
    background-color: none;
    text-decoration: none;
}

.button-detalhes a:hover{
    background-color: transparent;
}

.button-detalhes img{
    transform: translateY(4px);
    width: 33px;
} 

th:nth-child(4){
    display: none;
}

th:nth-child(6){
    display: none;
}

th:nth-child(7){
    display: none;
}

th:nth-child(8){
    display: none;
}

th:nth-child(9){
    display: none;
}

th:nth-child(10){
    display: none;
}

td:nth-child(4){
    display: none;
}

td:nth-child(6){
    display: none;
}

td:nth-child(7){
    display: none;
}

td:nth-child(8){
    display: none;
}

td:nth-child(9){
    display: none;
}

td:nth-child(10){
    display: none;
}
